<div class="container">
  <div class="row">
    <div class="col-md-3">
      
      <%= render 'users/user', user: @user %>
      <h2>New book</h2>
      <%= render 'books/book', book: @newbook %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-user-show">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
      <div class="comments">
<p>コメント件数：<%= @book.post_comments.count %></p>
<% @book.post_comments.each do |post_comment| %>
  <p><%= attachment_image_tag @user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg"%></p>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
  </div>
  <% end %>

<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@book, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
    </div>
  </div>
</div>
